<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reservas</h1>
    <ul class="rappers">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="rapper">
            <span class='fa fa-calendar'></span>
            <span><%= info[i].nombre %></span>
            <span><%= info[i].email %></span>
            <span><%= info[i].fecha %></span>
            <span><%= info[i].status %></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Agregar una reserva</h2>

    <form action="/addReservation" method="POST">
        <input type="text" placeholder="Nombre" name="nombre">
        <input type="email" placeholder="E-mail" name="email">
        <input type="date" placeholder="Fecha" name="fecha" required>
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
